<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Feed</title>

    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      img {
        border: 1px solid #000;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <button><a href="{{ url_for('video') }}">Start Video</a></button>

    <div>
      <h1>Live Feed</h1>
      <img src="{{ url_for('video') }}" alt="Video Feed" width="50%" />
    </div>
  </body>
</html>
